:root {
  --space-2: 10px;
  --space-3: 15px;
  --blue: #1C70C8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  position: relative;
}

.inputWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--space-2);
}

input {
  flex-grow: 1;
  margin-left: var(--space-2);
}

button {
  margin-left: var(--space-2);
  padding: 2px 5px;
  background-color: white;
  border: none;
}
button:focus {
  outline: none;
  background-color: var(--blue);
  color: white;
}

footer {
  padding: var(--space-2);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}



/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider */
.slider {
  -webkit-appearance: none;
  height: 19px;
  background: white;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 19px;
  background: var(--blue);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 19px;
  background: var(--blue);
  cursor: pointer;
}