:root {
  --space-2: 10px;
  --blue: #1C70C8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.inputWrapper {
  position: absolute;
  width: 100%;
  padding: var(--space-2);
  display: flex;
  align-items: center;
}

input {
  flex-grow: 1;
  margin-left: var(--space-2);
}

button {
  margin-left: var(--space-2);
  padding: 2px 5px;
  background-color: white;
  border: none;
}
button:focus {
  outline: none;
  background-color: var(--blue);
  color: white;
}